name: Token Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Repo Info
        run: gh repo view ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_PAT }}
